src/stepfunctions/process_toll.asl.json
{
  "Comment": "Orquestación del procesamiento de transacciones de peaje",
  "StartAt": "CalculateTollFare",
  "States": {
    "CalculateTollFare": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CalculateTollFareFunctionArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "statusCode.$": "$.StatusCode",
        "payload.$": "$.Payload"
      },
      "ResultPath": "$.calculate_result",
      "Next": "MergeCalculateResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleCalculateError",
          "ResultPath": "$.error"
        }
      ]
    },
    "MergeCalculateResult": {
      "Type": "Pass",
      "Parameters": {
        "user_data.$": "$.user_data",
        "toll_data.$": "$.toll_data",
        "fare_calculation.$": "$.calculate_result.payload.fare_calculation"
      },
      "Next": "RecordTransaction"
    },
    "RecordTransaction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${RecordTransactionFunctionArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "statusCode.$": "$.StatusCode",
        "payload.$": "$.Payload"
      },
      "ResultPath": "$.record_result",
      "Next": "MergeRecordResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleRecordError",
          "ResultPath": "$.error"
        }
      ]
    },
    "MergeRecordResult": {
      "Type": "Pass",
      "Parameters": {
        "user_data.$": "$.user_data",
        "toll_data.$": "$.toll_data",
        "fare_calculation.$": "$.fare_calculation",
        "transaction.$": "$.record_result.payload.transaction"
      },
      "Next": "UpdateBalance"
    },
    "UpdateBalance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${UpdateBalanceFunctionArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "statusCode.$": "$.StatusCode",
        "payload.$": "$.Payload"
      },
      "ResultPath": "$.balance_result",
      "Next": "MergeBalanceResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleBalanceError",
          "ResultPath": "$.error"
        }
      ]
    },
    "MergeBalanceResult": {
      "Type": "Pass",
      "Parameters": {
        "user_data.$": "$.user_data",
        "toll_data.$": "$.toll_data",
        "fare_calculation.$": "$.fare_calculation",
        "transaction.$": "$.transaction",
        "balance_update.$": "$.balance_result.payload.balance_update"
      },
      "Next": "CheckBalanceStatus"
    },
    "CheckBalanceStatus": {
      "Type": "Choice",
      "Comment": "Verifica si el balance se actualizó correctamente o si hay saldo insuficiente",
      "Choices": [
        {
          "Variable": "$.balance_update.message",
          "StringEquals": "Saldo insuficiente",
          "Next": "GenerateInvoice"
        },
        {
          "Variable": "$.balance_update.message",
          "StringEquals": "Usuario no registrado - Pago en efectivo",
          "Next": "GenerateInvoice"
        }
      ],
      "Default": "GenerateInvoice"
    },
    "GenerateInvoice": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Genera factura simulada según modalidad",
      "Parameters": {
        "FunctionName": "${GenerateInvoiceFunctionArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "statusCode.$": "$.StatusCode",
        "payload.$": "$.Payload"
      },
      "ResultPath": "$.invoice_result",
      "Next": "MergeInvoiceResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleInvoiceError",
          "ResultPath": "$.error"
        }
      ]
    },
    "MergeInvoiceResult": {
      "Type": "Pass",
      "Parameters": {
        "user_data.$": "$.user_data",
        "toll_data.$": "$.toll_data",
        "fare_calculation.$": "$.fare_calculation",
        "transaction.$": "$.transaction",
        "balance_update.$": "$.balance_update",
        "invoice.$": "$.invoice_result.payload.invoice"
      },
      "Next": "NotifyUser"
    },
    "NotifyUser": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Envía notificaciones por email según modalidad",
      "Parameters": {
        "FunctionName": "${NotifyUserFunctionArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "statusCode.$": "$.StatusCode",
        "payload.$": "$.Payload"
      },
      "ResultPath": "$.notify_result",
      "Next": "MergeNotifyResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ProcessingSuccess",
          "ResultPath": "$.error",
          "Comment": "No fallar si falla notificación"
        }
      ]
    },
    "MergeNotifyResult": {
      "Type": "Pass",
      "Parameters": {
        "user_data.$": "$.user_data",
        "toll_data.$": "$.toll_data",
        "fare_calculation.$": "$.fare_calculation",
        "transaction.$": "$.transaction",
        "balance_update.$": "$.balance_update",
        "invoice.$": "$.invoice",
        "notification.$": "$.notify_result.payload.notification"
      },
      "Next": "CheckFinalStatus"
    },
    "CheckFinalStatus": {
      "Type": "Choice",
      "Comment": "Determina el estado final de la transacción",
      "Choices": [
        {
          "Variable": "$.balance_update.message",
          "StringEquals": "Saldo insuficiente",
          "Next": "InsufficientBalance"
        },
        {
          "Variable": "$.balance_update.message",
          "StringEquals": "Usuario no registrado - Pago en efectivo",
          "Next": "CashPaymentRequired"
        }
      ],
      "Default": "ProcessingSuccess"
    },
    "InsufficientBalance": {
      "Type": "Succeed",
      "Comment": "Transacción registrada pero saldo insuficiente - Requiere recarga",
      "OutputPath": "$"
    },
    "CashPaymentRequired": {
      "Type": "Succeed",
      "Comment": "Usuario no registrado - Pago en efectivo requerido",
      "OutputPath": "$"
    },
    "ProcessingSuccess": {
      "Type": "Succeed",
      "Comment": "Transacción procesada y pagada exitosamente"
    },
    "HandleInvoiceError": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "stage": "generate_invoice",
        "error.$": "$.error",
        "input.$": "$"
      },
      "Next": "ProcessingFailed"
    },
    "HandleCalculateError": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "stage": "calculate_fare",
        "error.$": "$.error",
        "input.$": "$"
      },
      "Next": "ProcessingFailed"
    },
    "HandleRecordError": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "stage": "record_transaction",
        "error.$": "$.error",
        "input.$": "$"
      },
      "Next": "ProcessingFailed"
    },
    "HandleBalanceError": {
      "Type": "Pass",
      "Parameters": {
        "status": "error",
        "stage": "update_balance",
        "error.$": "$.error",
        "input.$": "$"
      },
      "Next": "ProcessingFailed"
    },
    "ProcessingFailed": {
      "Type": "Fail",
      "Comment": "Error procesando la transacción"
    }
  }
}
